{
  "logo": "./cactuspi.ppm",
  "initMessage": "Cactus Pi",
  "ledMatrix": {
    "path": "/path/to/rpi-rgb-led-matrix",
    "options": {
      "ledGpioMapping": "adafruit-hat",
      "ledNoHardwarePulse": true,
      "ledRows": 32,
      "ledChain": 2
    }
  },
  "weather": {
    "openWeatherMapApi": "api key",
    "city": "zip",
    "unit": "metric"
  }
}
