{
  "logo": "./cactuspi.png",
  "initMessage": "Pi",
  "ledMatrix": {
    "path": "/home/pi/Documents/projects/led-matrix/rpi-rgb-led-matrix/utils",
    "options": {
      "ledGpioMapping": "adafruit-hat",
      "ledNoHardwarePulse": true,
      "ledRows": 32,
      "ledChain": 2
    }
  },
  "weather": {
    "openWeatherMapApi": "api key",
    "city": "10301,us",
    "unit": "metric"
  }
}
